@model TechmerVision.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<img class="center-block text-center" src="~/images/TechmerVisionLogo-md.png" />
<div class="row row-centered">
    <div class="col-md-12 col-centered">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="text-center">Change Password</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row row-centered">
                <div class="form-group col-lg-3 col-centered">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="form-group col-lg-3 col-centered">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="form-group col-lg-3 col-centered">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="form-group col-lg-3 col-centered">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Change password" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
